<!-- angle-up -->
<div ng-include="'views/aluno/header-recado.html'"></div>
<div class="col-md-12" ng-show="sac.cod_status!='4'">
	<button class="form-control btn btn-success btn-encerrar-sac" style="margin:0px;" ng-click="encerrarSac(sac.cod_sac)" ng-show="sac.status_nome!='Fechado'">
		<span class="glyphicon glyphicon glyphicon-ok"></span> Encerrar Solicitação
	</button>
</div>

<div class="card card-sac ng-binding ng-scope">
	<span ng-switch on="sac.cod_status">
		<button ng-switch-when="1" class="btn btn-danger homework-header">{{sac.status_nome}}</button>
		<button ng-switch-when="2" class="btn btn-primary homework-header">{{sac.status_nome}}</button>
		<button ng-switch-when="3" class="btn btn-warning homework-header">{{sac.status_nome}}</button>
		<button ng-switch-when="4" class="btn btn-success homework-header">{{sac.status_nome}}</button>
	</span>
	<span>Criado em {{sac.aberto_em}}</span>
	<h3 class="sac-header">{{sac.assunto}}</h3>
	{{sac.anotacoes[0].anotacao}}
	<br/>
	{{sac.nome_aluno}}
	<br/>
	{{sac.professor}}
</div>
<div ng-class="{'height-comp' : sac.status_nome == 'Fechado' , 'height-progress' : sac.status_nome != 'Fechado'}">
	<div ng-repeat="anotacao in sac.anotacoes" ng-show="!$first">
		<div ng-show="anotacao.enviado_perfil == 'responsavel' || anotacao.enviado_perfil == 'aluno'" class="talk-bubble tri-right round right-in">
			<div class="talktext">
				<p style='font-weight:bold;'>{{anotacao.anotacao}}</p>
				<p class='postedDate' style='float:right;'>{{anotacao.enviado_em}}</p>
			</div>
		</div>

		<div ng-hide="anotacao.enviado_perfil == 'responsavel' || anotacao.enviado_perfil == 'aluno'" class="talk-bubble tri-right round left-in">
			<div class="talktext">
				<p style='font-weight:bold;'>{{anotacao.enviado_nome}}</p>
				<p style='font-weight:bold;'>{{anotacao.anotacao}}</p>
				<p class='postedDate' style='float:right;'>{{anotacao.enviado_em}}</p>
			</div>
		</div>
	
		<table class="table table-responsive table-striped table-arquivos-sac" ng-show="anotacao.arquivos.length != 0">
			<thead>
				<tr>		            
					<th colspan="2">Anexos: </th>		            
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="arquivo in anotacao.arquivos">
					<th scope="row">
						<a ng-href="{{arquivo.arquivo_original}}" target="_new">{{arquivo.arquivo_original}}</a>
					</th>
					<td class="detalhe-recado-tamanho" stlye="width: 25%;">{{arquivo.tamanho}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<form ng-submit="formNovoSac.$valid && adicionarNovaAnotacao(dados)"  ng-show="sac.status_nome!='Fechado'" name="formNovoSac" novalidate>
	<div class="md-form">
		<!-- <span class="error-field" ng-show="submitted == true && formNovoSac.anotacao.$error.required">Obrigatório</span> -->
		<div class="panel-footer" style='background-color:white;border-top:none; position: fixed; bottom:0px;'>
			<div class="input-group">
				<input ng-model="dados.anotacao" name="anotacao" style="height:50px; border-radius:30px;" class="form-control input-sm" placeholder="Preencha a mensagem" required></textarea>
				<span class="input-group-btn">
					<button type="submit" name="action" class="btn btn-success btn-sm btn-send" style="border-radius:50%;width:50px;height:50px;margin:0px;margin-left:10px;" ng-click="submitted = true" >
						<i class="glyphicon glyphicon-send" style="margin-right:5px;"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</form>
	
			
			


