					<div class="row">
				    	<div class="col-md-12 sub-menu-tab">				    		
				    		<span>SAC</span>
					  		<a href="#" onclick="return false;" class="btn-add-chamado" ng-click="Aluno.novoSac()" >
								<i class="fa fa-plus-circle pull-right" aria-hidden="true"></i>
							</a>
						</div>						
				    </div>
					


					<div class="row">
						<ul>
							<li ng-show="Aluno.qtdSacs == 0" class="sac-nenhum-recado">
								Nenhum SAC
							</li>

							<li ng-repeat="sac in Aluno.sacDados" ng-show="Aluno.qtdSacs != 0" class="card card-sac" ng-click="Aluno.detalhesSac(sac)">
								<span ng-switch on="sac.cod_status">
									<button ng-switch-when="1" class="btn btn-danger homework-header">Incompleta</button>
									<button ng-switch-when="2" class="btn btn-primary homework-header">A Fazer</button>
									<button ng-switch-when="3" class="btn btn-warning homework-header">Não Entregue</button>
									<button ng-switch-when="4" class="btn btn-success homework-header">Entregue</button>
								</span>
								<span>Criado em {{sac.aberto_em}}</span>
								<h3 class="sac-header">{{sac.assunto}}</h3>
								{{sac.anotacoes[0].anotacao}}
								<br/>
								{{sac.nome_aluno}}
								<br/>
								{{sac.professor}}
							</li>
							

						</ul>
	
					</div> <!-- /.row -->