					<ul class="menu-opc-ul">
						<li style="padding-top: 30px;">
							<a data-toggle="tab" href="#meu-perfil" class="modulos_secundarios" onclick="return false;">
								<i class="fa fa-user-circle-o menu-opc-fa"></i>
								Meu Perfil
							</a>
							<hr class="menu-opc-hr">
						</li>
						<li>
							<a data-toggle="tab" href="#contatos" class="modulos_secundarios" onclick="return false;">
								<i class="fa fa-phone-square menu-opc-fa"></i>
								Contatos
							</a>
							<hr class="menu-opc-hr">
						</li>
						<li>
							<a data-toggle="tab" href="#sobre" class="modulos_secundarios" onclick="return false;">
								<i class="fa fa-info-circle menu-opc-fa"></i>
								Sobre
							</a>
							<hr class="menu-opc-hr">
						</li>
						<!--
						<li>
							<a href="#logout">
								<i class="fa fa-sign-out menu-opc-fa"></i>
								Sair
							</a>
							<hr class="menu-opc-hr">
						</li>
						-->
					</ul>
