					<div class="row">
						<div class="col-md-12">
							<h2 class="title-dev-by">Desenvolvido por:</h2>
					  	</div>
					  	<div class="col-md-12 text-center" >
					  		<img src="img/sisalu_logo.jpg" alt="Logo: SisAlu" class="logo-sisalu" />
					  		
					  	</div>	

					  	<div class="col-md-12">
					  		<p class="tab-item-head">Contato:</p>
					  		<p class="tab-field-text">
					  			<a href="mailto:suporte@sisalu.com.br">suporte@sisalu.com.br</a>
					  		</p>
					  		<hr style="margin: 8px;"/>
					  	</div>

					  	<div class="col-md-12">
					  		<p class="tab-item-head">Site:</p>
					  		<p class="tab-field-text">
					  			<a href="http://sisalu.com.br/" target="_new">www.sisalu.com.br</a>
					  		</p>
					  		<hr style="margin: 8px;"/>				  		
					  	</div>

					  	<div class="col-md-12">
					  		<p class="tab-item-head">Versão do Aplicativo:</p>
					  		1.1.0					  		
					  	</div>

				  	</div> <!--./row -->
